<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.114.0" newVersion="1.0.114.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--連接SQLite-->
    <add name="StockConStr" connectionString="Data Source=C:\\Data\\Stock.db;Pooling=true;FailIfMissing=false" providerName="SQLite" />
  </connectionStrings>
  <appSettings>
    <!--公用變數-->
    <add key="ckcb_daytrade" value="true" />
    <add key="rdb_ultimate" value="false" />
    <add key="rdb_bigger" value="false" />
    <add key="rdb_smaller" value="true" />
    <add key="UpDown_closePrice" value="80" />
    <add key="rdb_between" value="false" />
    <add key="txt_c1" value="100" />
    <add key="txt_c2" value="150" />
    <add key="ud_pickquantity" value="8" />
    <add key="ud_avgDays" value="1" />
    <add key="ud_testDays" value="90" />
    <!--獲利計算模組-->
    <add key="rdb_proDaytradeYes" value="true" />
    <add key="rdb_proDaytradeNo" value="false" />
    <add key="rdb_s1ProfitShort" value="true" />
    <add key="rdb_s1ProfitLong" value="false" />
    <add key="rdb_InOpen" value="false" />
    <add key="rdb_InUnder" value="true" />
    <add key="rdb_InUpper" value="false" />
    <add key="ud_InTick" value="3" />
    <add key="ud_loss" value="5" />
    <add key="ud_earn" value="0" />
    <add key="txt_discount" value="2.8" />
    <!--策略一-->
    <add key="ckcb_s1TurnoverTop" value="true" />
    <add key="ckcb_s1TurnoverBigger" value="false" />
    <add key="ckcb_s1TurnoverSmaller" value="false" />
    <add key="ud_s1TurnoverTop" value="100" />
    <add key="ud_s1TurnoverBigger" value="10" />
    <add key="ud_s1TurnoverSmaller" value="5" />
    <add key="ckcb_s1FlUp" value="true" />
    <add key="ckcb_s1FlDown" value="false" />
    <add key="ckcb_redK" value="false" />
    <add key="ckcb_S1UpredK" value="false" />
    <add key="rdb_s1MajorBuy" value="false" />
    <add key="rdb_s1MajorSell" value="false" />
    <add key="rdb_s1MajorNone" value="true" />
    <add key="rdb_THigh" value="true" />
    <add key="rdb_TClose" value="false" />
    <add key="rdb_s1HighYes" value="false" />
    <add key="rdb_s1HighNo" value="true" />
    <add key="rdb_s1HighNone" value="false" />
    <add key="rdb_highVirtual" value="true" />
    <add key="rdb_highReal" value="false" />
    <!--策略一擴充條件-->
    <add key="ckcb_highStopLoss" value="false" />
    <add key="ckcb_tPrice" value="false" />
    <add key="ud_tPrice" value="5" />
    <add key="ckcb_highVolume" value="true" />
    <add key="ud_highVolume" value="2" />
    <add key="ckcb_notHighDis" value="false" />
    <add key="txt_notHighDisValue" value="4" />
    <add key="ckcb_dealpriceOrder" value="false" />
    <add key="ckcb_displayDealpriceAvg" value="false" />
    <add key="rdb_max" value="false" />
    <add key="rdb_notMax" value="false" />
    <add key="rdb_noneMax" value="true" />
    <add key="rdb_vibBig" value="false" />
    <add key="rdb_vibSmall" value="false" />
    <add key="rdb_vidNone" value="true" />
    <add key="txt_vibValue" value="3.6" />
    <!--策略二-->
    <add key="rdb_S2Turnoverrate" value="true" />
    <add key="ud_S2Turnoverrate" value="100" />
    <add key="rdb_S2topLineTrue" value="true" />
    <add key="rdb_S2topLineFalse" value="false" />
    <!--策略三-->
    <add key="rdb_S3Turnoverrate" value="true" />
    <add key="ud_S3Turnoverrate" value="100" />
  </appSettings>
</configuration>